@charset "UTF-8";

body {
	background-image: linear-gradient(to bottom, #e1dada, #c8c3c3, #b0acac, #989696, #818080);
	min-height: 100vh;
}

#location {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

#status {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

#cloud {
	text-align: center;
}

#temp {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}