@charset "UTF-8";

body {
	background-image: "linear-gradient(to bottom, #ffffff, #eaeaea, #d6d6d6, #c2c2c2, #afafaf";
	background-repeat: no-repeat;
	background-size: cover;
}

#location {
	position: absolute;
	top: 40%;
	font-size: 30px;
	font-weight: bold;
	
}

#status {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}


#temp {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

#weather-pic {
	width: 80%;
	height: 200px;
	right: 0px;
	position: absolute;
	right: 0px;
}

#location {
	position: absolute;
	left: 35%;
	top: 30%;
}

#weather-info {
	text-align: center;
}


html, body {

  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#back-button {
	width: 100px;
	height: 100px;
}

#citystatus {
	margin-top: 2px;
	text-align: center;
	margin-bottom: 0px;
}