@charset "UTF-8";

body {
	background-image: linear-gradient(90deg, rgba(46,42,122,1) 0%, rgba(24,24,182,1) 35%, rgba(0,212,255,1) 100%);
	min-height: 100vh;
}

#location {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

#status {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

#rain {
	text-align: center;
}

#temp {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}