@charset "UTF-8";

body {
	background-image: linear-gradient(to bottom, #ffffff, #eaeaea, #d6d6d6, #c2c2c2, #afafaf);
	min-height: 100vh;
}

#location {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

#status {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

#snow {
	text-align: center;
}

#temp {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}