<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cloudy</title>
<link rel= "stylesheet" type="text/css" href="/cloudypage.css">
</head>
<body>

<a href="/weather">
 <!-- Back button image credit: A3DigitalStudio/pixabay -->
 <img src="/images/back_button.png" style="width: 100px; height: 80px;">
 </a>
 
<br>

<br>

<div id="location">
<span th:text="${weatherData.location.cityName}" ></span>
<span>,</span>
<span th:text="${weatherData.location.region}"></span>
<span>,</span>
<span th:text="${weatherData.location.country}"></span>
</div>

<br>

<div id="status">
<span th:text="${weatherData.temperature.condition.status}"></span>
<span>!</span>
</div>

<br>

<!-- Clouds image credit: OpenIcons/pixabay -->
<div id="cloud"><img src="/images/clouds.png" width="50px" height="40px"></div>

<div id="temp">
<span id="fah" th:text="${weatherData.temperature.temperatureF}"></span><span>F</span>
<span>/</span>
<span id="cel" th:text="${weatherData.temperature.temperatureC}"></span><span>C</span>
</div>

</body>
</html>