<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Get Weather</title>
		<link rel="stylesheet" type="text/css" href="searchpage.css">
	</head>

<body>


	<h1 id="weather-header">Get today's weather</h1>

	<form method="POST" action="/weather/results" th:object="${weatherRequest}">
		<div id="location">
			<label for="cityName">Enter City:</label>
			 <input type="text" id="cityName" th:field="*{cityName}">
			<br><br>
			<label for="region">Enter Region/State:</label>
			<input type="text" id="region" th:field="*{region}">
			<br><br>
			<label for="country">Enter Country:</label>
				<input type="text" id="country" th:field="*{country}">
				<br><br>
			<input id="submit-weather" type="submit" value="Get Weather">
		</div>

	</form>


</body>
</html>